.query__container {
 width: 60%;
 overflow-y: scroll;
 max-height: 500px;
}

.query__heading {
  padding: 0px 35px;
}

.query__itemCardContainer {
  padding: 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}