.nomination__container {
  padding: 20px;
  width: 20%;
  border: 3px solid #b0b8b6;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.68);
}

.nomination__heading {
  margin: 0;
}

.nomination__card {
  border: 3px solid #008060;
  border-radius: 3px;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0px;
}

.nomination__text {
  margin: 5px 0 10px 0px;
  text-transform: capitalize;
}

.button {
  color: #fff;
  background-color: #008060;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
}
