.App {
  height: 100vh;
}

.app__main { 
  border: 4px solid black;
  max-width: 1300px;
  margin: 0 auto;
}

.app__header {
  text-align: center;
}

.app__querySection {
  display: flex;
  height: 100%;
}