.App {
  height: 100vh;
  overflow: hidden;
  background: #008060;
}

.app__main { 
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  background: #fbf7ed;
}

.app__header {
  font-family: "Bungee shade", cursive;
  text-align: center;
}

.app__heading {
  font-size: 3em;
  padding: 20px 0px;
  max-width: 1300px;
  margin: 0 auto;
  color: #008060;
  background: #fbf7ed;
  border-bottom: 10px double #008060;
}

.app__querySection {
  display: flex;
  height: 70vh;
  justify-content: space-around;
}